/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  color: white;
  background-image: url(/);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  color: goldenrod;
  font-size: 30px;
}
#message-el {
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
