/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  color: white;
  background-image: url("https://i.imgur.com/siHBuxE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20rem;
}
h1 {
  color: goldenrod;
}
#message-el {
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
